html
{
    width: 600px; /* max: 1000px */
    height: 300px; /* max: 750px */
}

body {
  text-align: center;
  background-color: #56A5EC;
}

#icon {
  width: 50px;
  position: relative;
  margin-right: 10px;
  top:10px;
  left:0;
}

button {
  margin: 50px;
  outline: none;
}

button:hover {
  outline: #80DEEA dotted thick;
}

* {
  box-sizing: border-box;
}

ul.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.list-group li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}

ul.list-group .badge {
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 70%;
  padding: 5px 10px;
  text-align: center;
  margin-left: 5px;
}
